#CARDS {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      width: 300px;
    }
    
    .card-title {
      font-weight: bold;
      font-size: 18px;
    }
    .card-description {
      margin-top: 5px;
    }
    
    .card-link {
      color: red;
      text-decoration: none;
    }
    
    /* Estilos para pantallas más pequeñas 
    @media (max-width: 768px) {
      .card {
        width: 90%;
      }*/
@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
}
